/lab1
/Lab2
/Lab2.zip
/lab3
/lab4

/Assignment1/node_modules
/Assignment2/node_modules
/Assignment3/node_modules
/Assignment4/node_modules
/Assignment5/node_modules
/Assignment6/node_modules
/Assignment6/.env
/Assignment8/node_modules
/Assignment8/.env

